<%= form_with(model: reparation, local: true, class: "mt-4") do |form| %>
  <% if reparation.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(reparation.errors.count, "error") %> prohibited this reparation from being saved:</h2>
      <ul>
        <% reparation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :vehicle_id, class: "form-label" %>
    <%= form.select :vehicle_id, Vehicle.order(:plate).map { |vehicle| [vehicle.plate, vehicle.id] }, { include_blank: false }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :service_id, class: "form-label" %>
    <%= form.select :service_id, Service.all.collect {|service| [service.name, service.id]}, {include_blank: false}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <div class="form-check">
      <%= form.radio_button :status, 'pending', class: "form-check-input" %>
      <%= form.label :status, "Pendiente", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= form.radio_button :status, "finished", class: "form-check-input" %>
      <%= form.label :status, "Finalizado", class: "form-check-label" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class: "form-label" %>
    <%= form.datetime_field :start_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :end_time, class: "form-label" %>
    <%= form.datetime_field :end_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :observation, class: "form-label" %>
    <%= form.text_area :observation, class: "form-control", rows: 4 %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
