<%= form_with(model: reparation) do |form| %>
  <% if reparation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reparation.errors.count, "error") %> prohibited this reparation from being saved:</h2>
      <ul>
        <% reparation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :vehicle_id, style: "display: block" %>
    <%= form.select :vehicle_id, Vehicle.order(:plate).map { |vehicle| [vehicle.plate, vehicle.id] }, { include_blank: false } %>
  </div>
  <div>
    <%= form.label :service_id, style: "display: block" %>
    <%= form.select :service_id, Service.all.collect {|service| [service.name, service.id]}, {include_blank: false} %>
  </div>
  <%# Radio button for status considering is an enum %>
  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.radio_button :status, 'pending' %>
    <%= form.label :status, "Pendiente" %>
    <%= form.radio_button :status, "finished" %>
    <%= form.label :status, "Finalizado" %>
  </div>
  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>
  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>
  <div>
    <%= form.label :observation, style: "display: block" %>
    <%= form.text_area :observation %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
