<div id="<%= dom_id reparation %>">
  <p>
    <strong>Vehicle:</strong>
    <%= reparation.vehicle_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= reparation.service_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reparation.status %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reparation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reparation.end_time %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= reparation.observation %>
  </p>

</div>
