<p style="color: green"><%= notice %></p>
<h1 class='mb-5'>Reparaciones y Servicios</h1>
<% if current_user.admin? %>
  <%= link_to "Nueva reparación", new_reparation_path, class:'btn btn-primary' %>
<% end %>
<div class="my-5 row row-cols-1 row-cols-md-3 g-4">
  <% @reparations.each do |reparation|%>
    <div class="col">
      <div class="card text-center bg-light" id="<%= dom_id reparation %>">
        <h5 class="card-header text-center mb-3"><strong>Vehículo (Patente):</strong> <%= reparation.vehicle.plate %></h5>
        <div class="card-body">
          <p class="card-title"><strong>Dueño:</strong> <%= reparation.vehicle.user.name %></p>
          <p class="card-text"><strong>Servicio:</strong> <%= reparation.service.name %></p>
          <p class="card-text"><strong>Ingreso:</strong> <%= reparation.start_time.strftime("%Y/%m/%d %H:%M") %></p>
          <p class="card-text"><strong>Entrega (Estimado):</strong> <%= reparation.end_time.strftime("%Y/%m/%d %H:%M") %></p>
          <p class="card-text"><strong>Observación:</strong> <%= reparation.observation %></p>
          <p>
            <%= link_to "Ver", reparation, class:"btn btn-primary" %>
          </p>
        </div>
        <div class="card-footer">
          <strong>Estado: </strong><%= reparation.status%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
