<p style="color: green"><%= notice %></p>

<%= render @reparation %>

<div class="mt-3">

<div class="d-flex justify-content-around">
  <%= button_to "Editar esta reparación", edit_reparation_path(@reparation), method: :get, class: "btn btn-primary" %>
  <%= button_to "Volver a las reparaciones", reparations_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Eliminar esta reparación", @reparation, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger"%>
</div>

</div>
