<div class="col">
</div>
  <div class="card bg-light" id="<%= dom_id vehicle %>">
    <h5 class="card-header text-center mb-3"><strong>Vehículo (Patente):</strong> <%= vehicle.plate %></h5>
    <div class="card-body">
      <p class="card-title"><strong>Dueño:</strong> <%= vehicle.user.name %></p>
      <p class="card-text"><strong>Marca:</strong> <%= vehicle.brand %></p>
      <p class="card-text"><strong>Modelo:</strong> <%= vehicle.model %></p>
      <p class="card-text"><strong>Año:</strong> <%= vehicle.year %></p>
      <p class="card-text"><strong>Color:</strong> <%= vehicle.color %></p>
      <p class="card-text"><strong>Problema:</strong> <%= vehicle.car_issue %></p>
    </div>
  </div>
