<div id="<%= dom_id vehicle %>">
  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= vehicle.plate %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= vehicle.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= vehicle.color %>
  </p>

  <p>
    <strong>Car issue:</strong>
    <%= vehicle.car_issue %>
  </p>

</div>
