<p style="color: green"><%= notice %></p>

<%= render @vehicle %>

<div class="mt-3">

<div class="d-flex justify-content-around">
  <%= button_to "Editar este vehículo", edit_vehicle_path(@vehicle), method: :get, class: "btn btn-primary" %>
  <%= button_to "Volver a los vehículos", vehicles_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Eliminar este vehículo", @vehicle, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger"%>

</div>

</div>
